

header, main, footer { /*attribute shared by all elements*/
box-sizing: border-box;
padding: 30px;
text-align: center;
margin: auto;
font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(0, 0, 0);
}

header {
  background: #47878d;
  font-size: 30px;
  height: 150px;
}

main {
  background: #b8e3e7;
}

footer {
  background: #47878d;
  height: 100px;
}



hr {/*thin lined seperator*/
  border: 1px solid  black;
}

h4 { /*made larger to take up more space*/
  font-size: 25px;
  margin: 10px;
}

a:link, a:active, a:visited {/* color for contact links*/
  color:blue;
}

a:hover {/*color when hovering over*/
  color: green;
}

ol li { /* display the ordered list horizontally*/
  display: inline;
  width: 696px;
  padding: 20px;
}

ul { /*added in to allow list to fit in center*/
    width: 50%;
    margin: auto;
}
